name: Laravel CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, pdo, sqlite, pdo_sqlite

      - run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - run: cp .env.example .env || true

      - run: php artisan key:generate

      - run: touch database/database.sqlite

      - run: php artisan migrate

      - run: php artisan test
